@use "../../styles/global.scss" as *;

.search-input {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border: 0.063rem solid $cloud;
  border-radius: 1.25rem;
  width: auto;
  background-color: $white;
  height: 2.125rem;

  &--active {
    border: 0.063rem solid $instock-indigo;
  }

  @include tablet {
    height: 2.25rem;
    width: 11.5rem;
  }
  @include desktop {
    width: 20rem;
  }

  &__icon {
    width: 1.5rem;
  }

  &__input {
    border: 0;
    width: 100%;
    background-color: $white;
    &::placeholder {
      color: $slate;
    }
    &:focus {
      outline: none;
    }
  }
}
